---
import TopNav from "../../../components/TopNav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Climbing</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <TopNav />

    <main>
      <h1>Climbing</h1>
      <ul>
        <li><a href="./training">Training</a></li>
      </ul>
    </main>
  </body>
</html>