---
import TopNav from "../components/TopNav.astro";
import "../styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <body>
    <TopNav />

    <main>
      <h1>Home</h1>
    </main>
  </body>
</html>