---
---
<nav>
  <ul>
    <li class="home-link"><a href={`${import.meta.env.BASE_URL}`}>Home</a></li>
    <li><a href={`${import.meta.env.BASE_URL}decks/`}>Decks</a></li>
    <li><a href={`${import.meta.env.BASE_URL}cardistry/`}>Cardistry</a></li>
  </ul>
</nav>